@import url("./styles.css");
@import url("./navbar.css");

main {
    display: flex;
    flex-direction: column;
    margin-top: calc(65px + 75px);
    padding: var(--padding);
}

.main-text {
    font-size: 6.4rem;
    font-style: italic;
    margin-bottom: 50px;
}

table {
    font-size: 1.7rem;
    align-self: center;
    border-collapse: collapse;
    width: 70%;
    /* margin-top: 150px; */
}

table, th, td {
    border: 2px solid #5B5B5B;
}

th, td {
    padding: 20px;
}

tbody th {
    text-align: start;
}

tbody td {
    text-align: center;
}

table tbody tr:nth-child(even),
table thead tr:nth-child(odd) {
    background-color: rgb(228, 228, 228);
}